/*
------------------------------------------------------------------------------------------------------------------------
                                                          Colors
------------------------------------------------------------------------------------------------------------------------
*/

$primary-accent-color: #66ccff;
$primary-font-color: #666;
$primary-bg-color: #fff;
$secondary-accent-color: #66ccff;
$secondary-font-color: #fff;
$secondary-bg-color: #333;

$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

.font-accent{
  color: $primary-accent-color;
}
/*
------------------------------------------------------------------------------------------------------------------------
                                                      Typography
------------------------------------------------------------------------------------------------------------------------
*/

$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                        Body
------------------------------------------------------------------------------------------------------------------------
*/

$body-bg: $primary-bg-color;
html,
body{
  height: 100%
}

body {
  > div.content {
    min-height: calc(100vh - 350px);
  }

  @media (max-width: $screen-md) {
    > div.content {
      min-height: 100vh;
    }
  }

}

/*
------------------------------------------------------------------------------------------------------------------------
                                                        Footer
------------------------------------------------------------------------------------------------------------------------
*/
footer{
  background-color: $secondary-bg-color;
  color: $secondary-font-color;
  height: 275px;
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
  padding-bottom: 10px;

  .footer-brand {
    a.navbar-brand{
      margin: 0;
      padding-top: 7px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 27px;
      text-transform: uppercase;
      color: $secondary-font-color;
      span.cap {
        font-size: 120%;
      }
      small{
        display: block;
        font-size: 14px;
        color: $primary-accent-color;
      }
    }

    p{
      font-size: 12px;
    }
  }
  .footer-nav {
    h4{
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      li{
        padding: 5px 0;
        a{
          color: $secondary-font-color;
          font-weight: bold;
          text-transform: uppercase;
          &:hover {
            color: $primary-accent-color;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer-ns {
    h4{
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom:10px;
    }
    p{
      font-size: 12px;
    }
  }

  .footer-brand,
  .footer-nav,
  .footer-ns{
    min-height: 100%;
    padding: 10px 25px;
  }

  .footer-nav,
  .footer-ns{
    border-left: solid 1px $primary-font-color;
  }

  .container,
  .container > .row {
    height: 100%;
  }


  @media (max-width: $screen-md) {
    display: none;
  }
}



/*
------------------------------------------------------------------------------------------------------------------------
                                                      Borders
------------------------------------------------------------------------------------------------------------------------
*/

$primary-border-color: darken($primary-bg-color, 10%);
$secondary-border-color: lighten($secondary-bg-color, 10%);
$list-group-border: $primary-border-color;
$navbar-default-border: $primary-font-color;
$panel-default-border: $primary-border-color;
$panel-inner-border: $primary-border-color;


/*
------------------------------------------------------------------------------------------------------------------------
                                                      Navbar
------------------------------------------------------------------------------------------------------------------------
*/

$navbar-default-bg: $secondary-bg-color;
$navbar-default-color: $secondary-font-color;
nav.dbbnav {
  border-radius: 0;
  margin-bottom: 0;
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }
  .container {
    position: relative;
  }
  background-color: $secondary-bg-color;
  .navbar-header{
    text-align: center;
    a.navbar-brand{
      padding-top: 7px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 27px;
      text-transform: uppercase;
      color: $secondary-font-color;
      span.cap {
        font-size: 120%;
      }
      small{
        display: block;
        font-size: 14px;
        color: $primary-accent-color;
      }
    }

  }
  ul.nav {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    > li{
      > a{
      color: $secondary-font-color !important;
      &:hover {
        color: $primary-accent-color !important;
      }
}
      &.dropdown{
        > ul.dropdown-menu{
          background-color: $primary-font-color;
          > li {
            > a{
              color: $secondary-font-color;
              &.active,
              &:active,
              &:hover {
                color: $primary-accent-color;
                background-color: inherit;
              }
            }
          }
        }
      }
      &.dropdown.dbbnav-fw{
        position: static;
        ul.dropdown-menu{
          opacity: .8;
          border-top: none;
          left: 0;
          right: 0;
          width: 100%;
          position: absolute;
          list-style: none;
          @extend .text-center;
          > li{
            @extend .text-center;
            display: inline-block;
            a{
              color: $secondary-font-color;
              white-space: normal;
              text-decoration: none;
              img, svg {
                width: 50px;
                margin: 0 auto;
                display: block;
                path{
                  stroke: $secondary-font-color;
                  fill: none;
                  stroke-width: .7;
                }
              }
              &:hover {
                color: $primary-accent-color;
                background-color: inherit;
                svg path {
                  stroke: lighten($primary-accent-color, 25%);
                  fill: $primary-accent-color;
                }
              }
            }
          }

        }
        &:active,
        &.active,
        &.open > a:focus,
        &.open > a:hover,
        &.open > a:active,
        &.open > a{
          color: $primary-accent-color;
          background-color: $primary-font-color !important;
        }
        @media (max-width: $screen-phone) {
          position: relative;
          ul.dropdown-menu{
            position: relative;
          }
        }

      }
    }
  }

}

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Buttons
------------------------------------------------------------------------------------------------------------------------
*/
$btn-default-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Inputs
------------------------------------------------------------------------------------------------------------------------
*/
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Panels
------------------------------------------------------------------------------------------------------------------------
*/
$panel-default-heading-bg: $primary-bg-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Header
------------------------------------------------------------------------------------------------------------------------
*/
header.carousel {
  height: 50%;
  .item,
  .item.active,
  .carousel-inner {
    height: 100%;
  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .item {
    .carousel-caption{
      h2{
        font-family: Lato, sans-serif;
        font-weight: 900;
        color: $secondary-bg-color;
        @include box-shadow(lighten($secondary-bg-color, 20%))
      }
    }
  }
  .carousel-indicators{
    li{
      border-color: $primary-font-color;
      &.active {
        background-color: $secondary-bg-color;
      }
    }
  }
  .carousel-control {
    background-image: none;
    opacity: 0;
    &:hover {
      opacity: .4;
    }
    &.right:hover{
      @include gradient-horizontal($start-color: rgba(51,204,255,0), $end-color: rgba(51,204,255,.6));
    }
    &.left:hover{
      @include gradient-horizontal($start-color: rgba(51,204,255,.6), $end-color: rgba(51,204,255,0));
    }
    span{
      opacity: 0;
    }
  }

}

@media(max-width:767px){
  header.carousel {
    height: 70%
  }
}

/*
------------------------------------------------------------------------------------------------------------------------
                                                      InfoGraphic
------------------------------------------------------------------------------------------------------------------------
*/
div.infoGraphic{
  margin: 20px auto;
  .nav-tabs{
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: $primary-font-color;
    > li {
      width: 20%;
      a{
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
        span.round-tab{
          width: 70px;
          height: 70px;
          display: inline-block;
          border-radius: 100px;
          background: $primary-bg-color;
          border: 2px solid $primary-font-color;
          z-index: 2;
          position: absolute;
          left: 0;
          text-align: center;
          img,
          svg{
            margin-top: 10%;
            width: 75%;
          }
          svg path,
          svg circle,
          svg polygon{
            stroke: $primary-font-color;
          }
        }
      }
    }
    > li:after{
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 0;
      margin: 0 auto;
      bottom: 0px;
      border: 5px solid transparent;
      border-bottom-color: $primary-accent-color;
      transition: 0.1s ease-in-out;
    }
    li.active:after {
      content: " ";
      position: absolute;
      left: 46%;
      opacity: 1;
      margin: 0 auto;
      bottom: 0px;
      border: 10px solid transparent;
      border-bottom-color: $primary-font-color;
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus{
      border: 0;
      border-bottom-color: transparent;
      span{
        background-color: $primary-accent-color;
      }
    }

  }
  > .infoGraphic-inner{
    position: relative;
    > .connecting-line {
      height: 2px;
      background: $primary-font-color;
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      z-index: 1;
    }


  }
  //> .tab-content {
  //  > .tab-pane{
  //    > img,
  //    > svg {
  //      > path {
  //        stroke: $primary-font-color;
  //      }
  //    }
  //  }
  //}
}

div.container.test{
  background-color: $primary-accent-color;
}


div#section2{

  padding-bottom: 25px;
  background: #66ccff;
  background: -moz-linear-gradient(top,  #66ccff 1%, #ffffff 80%);
  background: -webkit-linear-gradient(top,  #66ccff 1%,#ffffff 80%);
  background: linear-gradient(to bottom,  #66ccff 1%,#ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ccff', endColorstr='#ffffff',GradientType=0 );
  h1{
    @extend .text-center;
    margin: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-bg-color;
  }
}

//html{
//  background: #ffffff;
//  background: -moz-linear-gradient(top,  #ffffff 0%, #66ccff 98%);
//  background: -webkit-linear-gradient(top,  #ffffff 0%,#66ccff 98%);
//  background: linear-gradient(to bottom,  #ffffff 0%,#66ccff 98%);
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ccff',GradientType=0 );
//}

div.sectionHeader {
  //background: #66ccff;
  //background: -moz-linear-gradient(top,  #66ccff 1%, #ffffff 100%);
  //background: -webkit-linear-gradient(top,  #66ccff 1%,#ffffff 100%);
  //background: linear-gradient(to bottom,  #66ccff 1%,#ffffff 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ccff', endColorstr='#ffffff',GradientType=0 );
  color: $primary-font-color;
  border: solid 1px $primary-accent-color;
  h1{
    @extend .text-center;
    margin: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
}

section {
  margin: 25px 0;
}
