/*
------------------------------------------------------------------------------------------------------------------------
                                                          Colors
------------------------------------------------------------------------------------------------------------------------
*/

$primary-accent-color: #66ccff;
$primary-font-color: #666;
$primary-bg-color: #fff;
$secondary-accent-color: #66ccff;
$secondary-font-color: #fff;
$secondary-bg-color: #333;

$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

.font-accent{
  color: $primary-accent-color;
}
/*
------------------------------------------------------------------------------------------------------------------------
                                                      Typography
------------------------------------------------------------------------------------------------------------------------
*/

$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                        Body
------------------------------------------------------------------------------------------------------------------------
*/

$body-bg: $primary-bg-color;
html,
body{
  height: 100%
}

body {
  padding-top: 50px;
}


/*
------------------------------------------------------------------------------------------------------------------------
                                                      Borders
------------------------------------------------------------------------------------------------------------------------
*/

$primary-border-color: darken($primary-bg-color, 10%);
$secondary-border-color: lighten($secondary-bg-color, 10%);
$list-group-border: $primary-border-color;
$navbar-default-border: $secondary-border-color;
$panel-default-border: $primary-border-color;
$panel-inner-border: $primary-border-color;


/*
------------------------------------------------------------------------------------------------------------------------
                                                      Navbar
------------------------------------------------------------------------------------------------------------------------
*/

$navbar-default-bg: $secondary-bg-color;
$navbar-default-color: $secondary-font-color;
nav.dbbnav {
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }
  .container {
    position: relative;
  }
  background-color: $secondary-bg-color;
  .navbar-header{
    text-align: center;
    a.navbar-brand{
      padding-top: 7px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 27px;
      text-transform: uppercase;
      color: $secondary-font-color;
      span.cap {
        font-size: 120%;
      }
    }
    small{
      display: block;
      font-size: 14px;
      color: $primary-accent-color;
    }
  }
  ul.nav {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    > li{
      > a{
      color: $secondary-font-color !important;
      &:hover {
        color: $primary-accent-color !important;
      }
}
      &.dropdown{
        > ul.dropdown-menu{
          background-color: $primary-font-color;
          > li {
            > a{
              color: $secondary-font-color;
              &:hover {
                color: $primary-accent-color;
                background-color: inherit;
              }
            }
          }
        }
      }
      &.dropdown.dbbnav-fw{
        position: static;
        ul.dropdown-menu{
          left: 0;
          right: 0;
          width: 100%;
          position: absolute;
          list-style: none;
          @extend .text-center;
          > li{
            @extend .text-center;
            display: inline-block;
            a{
              color: $secondary-font-color;
              white-space: normal;
              text-decoration: none;
              img {
                margin: 0 auto;
                display: block;
              }
              &:hover {
                color: $primary-accent-color;
                background-color: inherit;
              }
            }
          }

        }
        &:active,
        &.active,
        &.open a:focus{
          background-color: $primary-font-color !important;
        }
        @media (max-width: $screen-phone) {
          position: relative;
          ul.dropdown-menu{
            position: relative;
          }
        }

      }
    }
  }

}

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Buttons
------------------------------------------------------------------------------------------------------------------------
*/
$btn-default-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Inputs
------------------------------------------------------------------------------------------------------------------------
*/
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Panels
------------------------------------------------------------------------------------------------------------------------
*/
$panel-default-heading-bg: $primary-bg-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Header
------------------------------------------------------------------------------------------------------------------------
*/
header.carousel {
  height: 50%;
  .item,
  .item.active,
  .carousel-inner {
    height: 100%;
  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

@media(max-width:767px){
  header.carousel {
    height: 70%
  }
}



