/*
------------------------------------------------------------------------------------------------------------------------
                                                          Colors
------------------------------------------------------------------------------------------------------------------------
*/

$primary-accent-color: #66ccff;
$primary-font-color: #666;
$primary-bg-color: #fff;
$secondary-accent-color: #66ccff;
$secondary-font-color: #fff;
$secondary-bg-color: #333;

$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

.font-accent{
  color: $primary-accent-color;
}
/*
------------------------------------------------------------------------------------------------------------------------
                                                      Typography
------------------------------------------------------------------------------------------------------------------------
*/

$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                        Body
------------------------------------------------------------------------------------------------------------------------
*/

$body-bg: $primary-bg-color;
html,
body{
  height: 100%
}

body {
  padding-top: 50px;
}


/*
------------------------------------------------------------------------------------------------------------------------
                                                      Borders
------------------------------------------------------------------------------------------------------------------------
*/

$primary-border-color: darken($primary-bg-color, 10%);
$secondary-border-color: lighten($secondary-bg-color, 10%);
$list-group-border: $primary-border-color;
$navbar-default-border: $secondary-border-color;
$panel-default-border: $primary-border-color;
$panel-inner-border: $primary-border-color;


/*
------------------------------------------------------------------------------------------------------------------------
                                                      Navbar
------------------------------------------------------------------------------------------------------------------------
*/

$navbar-default-bg: $secondary-bg-color;
$navbar-default-color: $secondary-font-color;
nav {
  .navbar-header{
    text-align: center;
    a.navbar-brand{
      padding-top: 5px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 25px;
    }
    small{
      display: block;
      font-size: 13px;
      color: $primary-accent-color;
    }
  }
}

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Buttons
------------------------------------------------------------------------------------------------------------------------
*/
$btn-default-color: $primary-font-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Inputs
------------------------------------------------------------------------------------------------------------------------
*/
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Panels
------------------------------------------------------------------------------------------------------------------------
*/
$panel-default-heading-bg: $primary-bg-color;

/*
------------------------------------------------------------------------------------------------------------------------
                                                      Header
------------------------------------------------------------------------------------------------------------------------
*/
header.carousel {
  height: 50%;
  .item,
  .item.active,
  .carousel-inner {
    height: 100%;
  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

@media(max-width:767px){
  header.carousel {
    height: 70%
  }
}



